<!-- jQuery -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<!-- Firebase -->
<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>

<!-- Firechat -->
<link rel="stylesheet" href="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.css" />
<script src="https://cdn.firebase.com/libs/firechat/3.0.1/firechat.min.js"></script>
<script type="text/javascript" src="scripts/mainappChat.js"></script>
        <script type="text/javascript">
          window.onload = function() {
              initApp();
          };
        </script>
<script>
  // function initChat(user) {
  //   // Get a Firebase Database ref
  //   var chatRef = firebase.database().ref("chat");

  //   // Create a Firechat instance
  //   var chat = new FirechatUI(chatRef, document.getElementById("firechat-wrapper"));

  //   // Set the Firechat user
  //   chat.setUser(user.uid, user.displayName);
  // }
</script>

<div id="firechat-wrapper"></div>