    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js">
    </script>
    <script src="js/sinch/index.js"></script>
        <script src="js/sinch.min.js"></script>


            <div id="auth">
    <form>
    <input id="username" placeholder="username">
    <input id="password" type="password" placeholder="password">
    <button id="loginUser">Login</button>
    <button id="createUser">Sign Up</button>
    </form> 
    </div>
    <div class="error"></div>
