/* CSS Document */
/* ---------- FONTAWESOME ---------- */
/* ---------- http://fortawesome.github.com/Font-Awesome/ ---------- */
/* ---------- http://weloveiconfonts.com/ ---------- */
/*@import url(http://weloveiconfonts.com/api/?family=fontawesome);*/
/* ---------- ERIC MEYER'S RESET CSS ---------- */
/* ---------- http://meyerweb.com/eric/tools/css/reset/ ---------- */
@import url(reset.css);
/* ---------- FONTAWESOME ---------- */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

/* ---------- GENERAL ---------- */
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}



*:before, *:after {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}

body {

  background: url('../images/login-bg.png') no-repeat;
  background-size:cover;
  color: #606468;
  font: 87.5%/1.5em 'Open Sans', sans-serif;
  margin: 0;
}

a {
  color: #eee;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

input {
  border: none;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  padding: 0;
  -webkit-appearance: none;
}

p {
  line-height: 1.5em;
}

.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: ' ';
  display: table;
}
.clearfix:after {
  clear: both;
}

.container {
  left: 50%;
  position: fixed;
  width: 80%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/* ---------- LOGIN ---------- */
#login {
  //width: 280px;
}

#login form span {
  background-color: #363b41;
  border-radius: 3px 0px 0px 3px;
  color: #606468;
  display: block;
  float: left;
  height: 50px;
  line-height: 50px;
  text-align: center;
  width: 50px;
}

input {
  height: 50px;
}

#login  input[type="text"], input[type="password"] {
  background-color: #efefef;
  border-radius: 0px 3px 3px 0px;
  color: #606468;
  margin-bottom: 1em;
  padding: 0 16px;
  //width: 230px;
  width: 100%;
  text-align: center;
}

#login  input[type="submit"] {
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #dedede;
  color: #121212;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 100%;
}

#login  input[type="submit"]:hover {
  background-color: #dedede;
}

#login > p {
  text-align: center;
}

#login > p span {
  padding-left: 5px;
}
#signup-btn , #signin-btn{
border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #dedede;
  color: #121212;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 2em;
  text-transform: uppercase;
  width: 100%;
  height: 50px;'
}

.sidebar-logo{
	background-image:url(../images/logo.png);
	background-size:cover;
	background-repeat:no-repeat;
	width:200px;
	height:6em;
	display: block;
	margin-top:5px;
	margin-bottom: 3em;

	margin-left:auto;
  margin-right: auto;
}
#callback-message{
  color: #fefefe;
}